swagger: '2.0'
info:
  description: |
    We use RESTful API to provide basic manipulation of the Sesame smart lock, including:
    * Get Sesame lock/unlock status
    * Get battery status
    * Lock and unlock Sesame
    * Sync Sesame status
    * Get results for lock, unlock, and sync commands
  version: '3.0.0'
  title: 'Version 3 of CANDY HOUSE’s Sesame API'
  termsOfService: 'https://jp.candyhouse.co/pages/terms'
  contact:
    email: 'sesame@candyhouse.co'
  license:
    name: 'Apache 2.0'
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
externalDocs:
  description: 'CANDY HOUSE Developer Reference'
  url: 'https://docs.candyhouse.co/'
schemes:
- 'https'
host: 'api.candyhouse.co'
security:
- api_key: []
securityDefinitions:
  api_key:
    type: 'apiKey'
    in: 'header'
    name: 'Authorization'
consumes:
- 'application/json'
produces:
- 'application/json'
basePath: '/public'
paths:
  /sesames:
    get:
      summary: 'Get Sesame list'
      responses:
        200:
          description: 'OK'
          schema:
            type: 'array'
            items:
              $ref: '#/definitions/GetSesameResponse'
  /sesame/{device_id}:
    parameters:
    - name: 'device_id'
      in: 'path'
      description: 'Sesame unique ID'
      required: true
      type: 'string'
      format: 'uuid'
    get:
      summary: 'Get Sesame status'
      responses:
        200:
          description: 'OK'
          schema:
            $ref: '#/definitions/GetSesameStatusResponse'
    post:
      summary: 'Control Sesame'
      description: ''
      parameters:
      - in: 'body'
        name: 'body'
        description: |
          Sync command will force the server to update Sesame status.
          **NOTE**: Frequent use of the sync command will reduce Sesame’s battery life.
        required: true
        schema:
          $ref: '#/definitions/ControlSesameRequest'
      responses:
        200:
          description: 'OK'
          schema:
            $ref: '#/definitions/ControlSesameResponse'
  /action-result:
    parameters:
    - name: 'task_id'
      in: 'query'
      description: 'Task ID from command result.'
      required: true
      type: 'string'
      format: 'uuid'
    get:
      summary: 'Query Execution Result'
      description: ''
      responses:
        200:
          description: 'OK'
          schema:
            $ref: '#/definitions/QueryExecutionResultResponse'
definitions:
  GetSesameResponse:
    type: 'object'
    required:
    - 'device_id'
    - 'serial'
    - 'nickname'
    properties:
      device_id:
        type: 'string'
        format: 'uuid'
        description: 'Sesame unique ID'
      serial:
        type: 'string'
        description: 'Sesame serial'
      nickname:
        type: 'string'
        description: 'Sesame nickname'
  ControlSesameRequest:
    type: 'object'
    required:
    - 'command'
    properties:
      command:
        type: 'string'
        enum:
        - 'lock'
        - 'unlock'
        - 'sync'
  GetSesameStatusResponse:
    type: 'object'
    required:
    - 'locked'
    - 'battery'
    - 'responsive'
    properties:
      locked:
        type: 'boolean'
        description: 'Sesame is locked or not'
      battery:
        type: 'integer'
        format: 'int32'
        description: 'Sesame battery status'
      responsive:
        type: 'boolean'
        description: 'Sesame is responsive now or not'
  ControlSesameResponse:
    type: 'object'
    required:
    - 'task_id'
    properties:
      task_id:
        type: 'string'
        format: 'uuid'
        description: 'Task ID which can be used to query execution result.'
  QueryExecutionResultResponse:
    type: 'object'
    required:
    - 'status'
    properties:
      status:
        type: 'string'
        description: 'Can be `processing` or `terminated`.'
      successful:
        type: 'boolean'
        description: |
          This parameter only appears when the status is terminated.
          Indicates whether the execution was successful or not.
      error:
        type: 'string'
        description: 'Indicates the reason execution failed.'
